{{ 'digifist.css' | asset_url | stylesheet_tag }}

<div>
  test123
</div>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "t:sections.digifist.presets.name"
      }
    ]
  }
{% endschema %}