{{ 'digifist.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  <div class="left_side">
    <img
      src="{{  section.settings.left_img | img_url:"master" }}"
      class="left_img"
      alt="main image"></div>
  <div class="right_side">
    <div class="title">{{ section.settings.title }}</div>
    <div class="desc"></div>
    <div class="button"></div>
    <div class="scroll"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "left_img",
        "label": "big_image"
      }, {
        "type": "text",
        "id": "title",
        "label": " Right side title"
      }
    ],
    "presets": [
      {
        "name": "Digifist"
      }
    ]
  }
{% endschema %}