{{ 'digifist.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  <div class="left_side">
    {% section 'digi-left' %}
  </div>
  <div class="right_side">
    {% section 'digi-right' %}
  </div>
</div>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Digifist"
      }
    ]
  }
{% endschema %}