{{ 'digifist.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  test123
  {{ section.settings.main_content }}
</div>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "main_content",
        "label": "text here"
      }
    ],
    "presets": [
      {
        "name": "Digifist"
      }
    ]
  }
{% endschema %}