{{ 'digifist.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  test123
</div>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Digifist"
      }
    ]
  }
{% endschema %}