.main_content {
  width: 100%;
  display: flex;
}

.main_content .left_side {
  max-width: 50%;
  height: 100vh;
}
.main_content .left_side .left_img {
  height: 864px;
  width: 720px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.main_content .right_side {
  width: 50%;
  padding: 96px 106px 10px 120px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.main_content .right_side .title {
  font-family: ITC Avant Garde Gothic Pro;
  font-size: 31px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.main_content .right_side .desc {
}
.main_content .right_side .button {
}
.main_content .right_side .scroll {
}
