.main_content {
  width: 100%;
  display: flex;
}

.main_content .left_side {
  display: flex;
  flex: 1;
}
.main_content .left_side .left_img {
  height: 864px;
  width: 720px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  display: flex;
}
.main_content .right_side {
  width: 50%;
  padding: 96px 106px 10px 20px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.main_content .right_side .title {
  font-family: ITC Avant Garde Gothic Pro;
  font-size: 31px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.main_content .right_side .desc {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}
.main_content .right_side .digi_button a {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 12.8px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  margin-top: 32px;
}
.main_content .right_side .scroll {
}

.swiper-slide {
  margin-top: 70px;
}
.swiper-slide img {
  max-width: 230px;
  height: 310px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
  padding: 19px;
  border: 1px solid black;
  cursor: pointer;
}

.swiper-button-prev img {
  transform: rotate(180deg);
  padding: 14px;
  border: 1px solid black;
  cursor: pointer;
  margin-left: 5px;
}
.swiper-button-disabled {
  display: none !important;
}

.price_colors {
  display: flex;
  justify-content: space-between;
}

.product_name {
  font-family: Avenir;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.price {
  font-family: Avenir;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.colors {
  display: flex;
}
.swiper .colors label {
  font-size: 0;
  display: block;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
  border: 1.5px solid #ffffff;
}

.swiper .colors input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.swiper .colors input:checked + label {
  border: 2.5px solid white;
  outline: 0.5px solid black;
}

@media screen and (max-width: 768px) {
  .main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main_content .left_side {
    display: flex;
    flex: 1;
  }

  .main_content .left_side .left_img {
    height: 437px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
  }
  .main_content .right_side {
    padding: 0;
    width: 100%;
    margin-top: -220px;
    padding: 0 25px 0 25px;
  }

  .main_content .right_side .title {
    font-family: ITC Avant Garde Gothic Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  .desc {
    display: none;
  }
  .digi_button {
    margin-top: -45px;
  }
  .digi_button a {
    color: #fff !important;
  }
}
